[Unit]
Description=ktor-starter

[Service]
ExecStart=/usr/bin/java -jar /home/arctair/ktor-starter/build/libs/ktor-starter.jar -port=8080
StandardOutput=file:/home/arctair/ktor-starter/application.log
StandardError=file:/home/arctair/ktor-starter/error.log
Type=simple
WorkingDirectory=/home/arctair/ktor-starter

[Install]
WantedBy=multi-user.target
